

.form{
    position:fixed;
    margin-left:27rem;
    margin-bottom:10rem;
    padding:20px;
    text-align:center;
    width:10rem;
    
    background-color:#a44df4;
    
}
.data{
    position:fixed;
    top:14rem;
    overflow-y:auto;
    max-height: 300px;
    width:100%;
}
hr{
    width:69rem;
    position:fixed;
}

.formpage{
    color:white;
}
.formpage button{
    background-color:aqua;
    width:70px;
    height:25px;
    border-radius:5px;
    cursor:pointer;
    

}
