

.form{
    padding:20px;
    text-align:center;
    width:10rem;
    margin:auto;
    background-color:#a44df4
}
.formpage{
    color:white;
}
.formpage button{
    background-color:aqua;
    width:70px;
    height:25px;
    border-radius:5px;
    cursor:pointer;
    

}
